---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection, getEntryBySlug } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";

const posts = (
  await getCollection("blog", (post) =>
    post.data.tags?.includes(Astro.params.tag || "")
  )
).sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf());

const tagEntry = await getEntryBySlug("tags", Astro.params.tag || "");

const { Content } = (await tagEntry?.render()) || { Content: undefined };
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      ul {
        list-style-type: none;
        padding: unset;
      }
      ul li {
        display: flex;
      }
      ul li :global(time) {
        flex: 0 0 130px;
        font-style: italic;
        color: #595959;
      }
      ul li a:visited {
        color: #8e32dc;
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <section>
        <h1>
          #{Astro.params.tag}
          {tagEntry?.data.type && `(${tagEntry.data.type})`}
          {
            tagEntry?.data.website && (
              <a href={tagEntry.data.website}>Website</a>
            )
          }
        </h1>
        {Content && <Content />}
        {
          posts.length > 0 ? (
            <ul>
              {posts.map((post) => (
                <li>
                  <FormattedDate date={post.data.pubDate} />
                  <a href={`/posts/${post.slug}/`}>{post.data.title}</a>
                </li>
              ))}
            </ul>
          ) : (
            <>
              <h2>404 - Not Found</h2>
              <p>
                Sorry, there aren't any posts with the tag "{Astro.params.tag}"
              </p>
            </>
          )
        }
      </section>
    </main>
    <Footer />
  </body>
</html>
