---
import { getCollection } from "astro:content";
import Base from "../layouts/Base.astro";

// get all posts. sort them by date, featured are first
const posts = await getCollection("posts");
const sortedPosts = posts.sort((a, b) => {
  const aFeaturedWeight = a.data.featured ? 1 : 0;
  const bFeaturedWeight = b.data.featured ? 1 : 0;

  const aDateWeight = new Date(a.data.lastUpdated).getTime() / 1000000;
  const bDateWeight = new Date(b.data.lastUpdated).getTime() / 1000000;

  const aWeight = aFeaturedWeight * 1000000000 + aDateWeight;
  const bWeight = bFeaturedWeight * 1000000000 + bDateWeight;

  return bWeight - aWeight;
});

// get all tags, that are project tags
const tags = await getCollection("tags");
const projectTags = tags
  .filter((tag) => tag.data.isProject)
  .map((tag) => tag.slug);
---

<Base title="Jak2k" description="Jak2k's personal website">
  <div slot="additional">
    <div max-w-80ch m-x-auto p-2.5 m-t-5>
      <h2 text-2xl>Posts</h2>
    </div>
    <ul>
      {
        sortedPosts.map((post) => (
          <li
            max-w-80ch
            m-x-auto
            p-2.5
            m-y-2.5
            border-1
            border-gray-300
            dark:border-gray-700
            rounded-2.5
          >
            <a
              href={`/post/${post.slug}`}
              transition:name={`lnk-/post/${post.slug}`}
            >
              {post.data.title}
            </a>
          </li>
        ))
      }
    </ul>
    <div max-w-80ch m-x-auto p-2.5 m-t-5>
      <h2 text-2xl>Projects</h2>
    </div>
    <ul>
      {
        projectTags.map((tag) => (
          <li
            max-w-80ch
            m-x-auto
            p-2.5
            m-y-2.5
            border-1
            border-gray-300
            dark:border-gray-700
            rounded-2.5
          >
            <a href={`/tag/${tag}`} transition:name={`lnk-/post/${tag}`}>
              {tag}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</Base>
