---
import { getCollection } from "astro:content";
import Base from "../../layouts/Base.astro";
// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const blogEntries = await getCollection("posts");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}
// 2. For your template, you can get the entry directly from the prop
const { entry } = Astro.props;
const { Content } = await entry.render();

const post = entry;

// get first line
const firstLine = (post.body.split("\n")[0] ||
          post.body.split("\n")[1] || post.body.split("\n")[2]);

const jsonld = <script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": `https://jak2k.schwanenberg.name/post/${entry.slug}`
  },
  "headline": entry.data.title,
  "description": firstLine,
  "image": "",  
  "author": {
    "@type": "Person",
    "name": "Jak2k",
    "url": "https://jak2k.schwanenberg.name"
  }
}
</script>
---

<Base
  title={entry.data.title}
  description={firstLine}
  modifiedTime={entry.data.lastUpdated}
  tags={entry.data.tags}
>
  <p style="line-height: 2">
    <!-- Iterate over tags -->
    {
      entry.data.tags.map((tag: string) => (
        <a h-12 mx-2 my-6 href={`/tag/${tag.slug || tag}`}>
          #{tag.slug || tag}
        </a>
      ))
    }
  </p>
  <div prose>
    <Content />
    <p>
      Thanks for reading! If you have any questions or comments, please sign in
      with GitHub and comment below. I'd love to hear from you! You may also fix
      errors or suggest changes in the <a
        href="https://github.com/Jak2k/website">GitHub repo</a
      >.
    </p>
    <script src="../../components/interactive/decision/loader.ts"></script>
    <script
      data-interactive={entry.data.isInteractive}
      id="interactive-enabler"
      type="module"
    >
      // get the data-interactive attribute
      // @ts-ignore
      const isInteractive = document.getElementById("interactive-enabler")
        .dataset.interactive;
      if (isInteractive === "decision") {
        // fire "interactive-decision:enable" event
        const event = new Event("interactive-decision:enable");
        setTimeout(() => {
          document.dispatchEvent(event);
        }, 1000);
      }
    </script>
  </div>
  <div slot="additional" max-w-80ch m-x-auto m-b-5>
    <script
      src="https://giscus.app/client.js"
      data-repo="jak2k/website"
      data-repo-id="R_kgDOJrCLDA"
      data-category="Comments"
      data-category-id="DIC_kwDOJrCLDM4CW_j9"
      data-mapping="specific"
      data-term={entry.slug}
      data-strict="1"
      data-reactions-enabled="1"
      data-emit-metadata="1"
      data-input-position="top"
      data-theme="preferred_color_scheme"
      data-lang="en"
      crossorigin="anonymous"
      async></script>
  </div>
</Base>
