---
import { getCollection } from "astro:content";
import Base from "../../layouts/Base.astro";
// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const blogEntries = await getCollection("posts");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}
// 2. For your template, you can get the entry directly from the prop
const { entry } = Astro.props;
const { Content } = await entry.render();

// get first line
const firstLine = entry.body.split("\n")[0];
---

<Base
  title={entry.data.title}
  description={firstLine}
  modifiedTime={entry.data.lastUpdated}
  tags={entry.data.tags}
>
  <p>
    <!-- Iterate over tags -->
    {
      entry.data.tags.map((tag: string) => (
        <a mx-1 href={`/tag/${tag}`}>
          #{tag}
        </a>
      ))
    }
  </p>
  <div prose>
    <Content />
  </div>
</Base>
