---
import Webmentions from "../components/Webmentions.astro";
import { db, Status as DbStatus, eq } from "astro:db";

const { entry } = Astro.props;

function formatDateTime(timestamp: Date) {
    const formattedDate = new Date(timestamp).toLocaleDateString("en-US", {
        year: "numeric",
        month: "long",
        day: "numeric",
    });
    const formattedTime = new Date(timestamp).toLocaleTimeString("en-US", {
        hour: "2-digit",
        minute: "2-digit",
    });
    return `${formattedDate} | ${formattedTime}`;
}

const formattedDateTime = formatDateTime(entry.timestamp);

const previous =
    entry.id > 0 &&
    (await db
        .select()
        .from(DbStatus)
        .where(eq(DbStatus.id, entry.id - 1))
        .limit(1));

const next = await db
    .select()
    .from(DbStatus)
    .where(eq(DbStatus.id, entry.id + 1))
    .limit(1);

const condensed = Astro.props.condensed;
---

<div class="h-entry">
    <p w-full flex flex-row flex-justify-start flex-gap-2>
        {
            entry.likeOf && (
                <a
                    href={entry.likeOf}
                    target="_blank"
                    rel="noopener noreferrer"
                    class="u-like-of"
                >
                    Like of <span underline>{entry.likeOf}</span>
                </a>
            )
        }
        {
            entry.repostOf && (
                <a
                    href={entry.repostOf}
                    target="_blank"
                    rel="noopener noreferrer"
                    class="u-repost-of"
                >
                    Repost of <span underline>{entry.repostOf}</span>
                </a>
            )
        }
        {
            entry.replyTo && (
                <a
                    href={entry.replyTo}
                    target="_blank"
                    rel="noopener noreferrer"
                    class="u-in-reply-to"
                >
                    In reply to <span underline>{entry.replyTo}</span>
                </a>
            )
        }
        <span flex-grow></span>
        {
            !condensed && previous && previous.length > 0 && (
                <a underline href={`/status/${previous[0]?.id}`}>
                    Previous
                </a>
            )
        }
        {
            !condensed && next && next.length > 0 && (
                <a underline href={`/status/${next[0]?.id}`}>
                    Next
                </a>
            )
        }
    </p>
    <div prose class="e-content">
        <p>{entry.text}</p>
        <p>
            <a
                class="p-author"
                rel="author me"
                href="https://jak2k.schwanenberg.name"
            >
                Jak2k
            </a>
        </p>
    </div>
    <a href="https://brid.gy/publish/mastodon" hidden></a>
</div>
{
    condensed && (
        <a
            href={`/status/${entry.id}`}
            class="u-url"
            data-track-content
            data-content-name={`status-${entry.id}`}
            data-content-target={`/status/${entry.id}`}
            underline
        >
            Read comments
        </a>
    )
}
