---
import { ViewTransitions, fade } from "astro:transitions";
import { SEO } from "astro-seo";

const { title, description, publishedTime, tags } = Astro.props;

const currentPath = Astro.url.pathname;

const routes: { path: string; title: string }[] = [
  { path: "/", title: "Home" },
  { path: "/post", title: "Posts" },
  { path: "/tag", title: "Tags" },
];
---

<html lang="en">
  <head>
    <SEO
      title={title}
      description={description}
      charset="utf-8"
      openGraph={{
        basic: {
          title,
          type: "website",
        },
        article: {
          publishedTime,
          tags,
        },
      }}
    />
    <link rel="shortcut icon" href="favicon.svg" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <ViewTransitions />
  </head>
  <body>
    <nav
      max-w-80ch
      m-x-auto
      m-y-5
      border-1
      border-gray-300
      dark:border-gray-700
      p-2.5
      rounded-2.5
    >
      {
        routes.map((r) => (
          <a href={r.path} class="m-r-2.5">
            {r.title}
          </a>
        ))
      }
    </nav>
    <article
      max-w-80ch
      m-x-auto
      m-t-30vh
      p-2.5
      m-y-5
      border-1
      border-gray-300
      dark:border-gray-700
      rounded-2.5
      transition:name="content"
    >
      <h1 text-5xl m-b-2.5 transition:name={`lnk-${currentPath}`}>
        {title}
      </h1>
      <slot />
    </article>

    <slot name="additional" />
  </body>
</html>
