---
//import { ViewTransitions, fade } from "astro:transitions";
import { SEO } from "astro-seo";
import { Icon } from "astro-icon";

const { title, description, modifiedTime, tags, jsonld, prefetch } = Astro.props;

const currentPath = Astro.url.pathname;

const routes: { path: string; title: string }[] = [
  { path: "/", title: "Home" },
  { path: "/post", title: "Posts" },
  { path: "/tag", title: "Tags" },
];

const socials: { name: string; url: string; icon: string }[] = [
  {
    name: "Mastodon",
    url: "https://mastodontech.de/@Jak2k",
    icon: "mdi:mastodon",
  },
  {
    name: "GitHub",
    url: "https://github.com/Jak2k",
    icon: "mdi:github",
  },
  { name: "RSS", url: "/rss.xml", icon: "mdi:rss" },
  {
    name: "Discord DM",
    url: "https://discord.com/users/599098199655055360",
    icon: "mdi:discord",
  },
];
---

<html lang="en">
  <head>
    <SEO
      title={title}
      description={description}
      charset="utf-8"
      openGraph={{
        basic: {
          title,
          type: "website",
          image: "",
        },
        article: {
          modifiedTime,
          tags,
        },
        optional: {
          description,
          locale: "en_US",
        },
      }}
    />
    {(prefetch || []).map(p=>(<link rel="prefetch" href={p}>
))}
    <link rel="shortcut icon" href="favicon.svg" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {jsonld && <script type="application/ld+json" set:html={JSON.stringify(jsonld)} />}
    <!-- Matomo -->
    <script is:inline>
      var _paq = (window._paq = window._paq || []);
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(["trackPageView"]);
      _paq.push(["trackVisibleContentImpressions"]);
      _paq.push(["enableLinkTracking"]);
      (function () {
        var u = "//a.schwanenberg.name/";
        _paq.push(["setTrackerUrl", u + "matomo.php"]);
        _paq.push(["setSiteId", "2"]);
        var d = document,
          g = d.createElement("script"),
          s = d.getElementsByTagName("script")[0];
        g.async = true;
        g.src = u + "matomo.js";
        s.parentNode.insertBefore(g, s);
      })();
    </script>
    <!-- End Matomo Code -->
    <!--<ViewTransitions />-->
  </head>
  <body bg-white text-black dark:bg-black dark:text-white min-h-110vh>
    <nav
      max-w-80ch
      m-x-auto
      m-y-5
      border-1
      border-gray-300
      dark:border-gray-700
      p-2.5
      rounded-2.5
      flex
      flex-row
    >
      {
        routes.map((r) => (
          <a href={r.path} class="m-r-2.5">
            {r.title}
          </a>
        ))
      }
      <span w-full></span>
      {
        socials.map((s) => (
          <a href={s.url} aria-label={s.name} class="m-r-2.5" target="_blank" rel="noopener me">
            <Icon name={s.icon} height="1.5em" width="1.5em" inline />
          </a>
        ))
      }
    </nav>
    <article
      max-w-80ch
      m-x-auto
      m-t-30vh
      p-2.5
      m-y-5
      border-1
      border-gray-300
      dark:border-gray-700
      rounded-2.5
      >
      <h1 property="https://purl.org/dc/terms/title" text-5xl m-b-2.5>
        {title}
      </h1>
      <slot />

      <slot name="additional" />
      <div
        text-center
        max-w-80ch
        m-x-auto
        m-b-2.5
        class="flex flex-col flex-items-center"
      >
        <a rel="license" property="https://creativecommons.org/ns#license" href="http://creativecommons.org/licenses/by-nc/4.0/"
          ><img
            alt="Creative Commons License"
            style="border-width:0"
            src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png"
            width="88"
            height="32"
          />
        </a><br />This work is licensed under a <a
          rel="license"
          href="http://creativecommons.org/licenses/by-nc/4.0/"
          >Creative Commons Attribution-NonCommercial 4.0 International License</a
        >
      </div>
    </article>
  </body>
</html>
